# .NET Core
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Visual Studio
.vs/
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# User-specific files
*.rsuser
*.userosscache
